@font-face {
  font-family: 'Montserrat';
  src: url('/Users/patrickevans29/Documents/pj_coding/HTML_CSS_Codacademy/patrick_evans_speaking/resources/CSS/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Users/patrickevans29/Documents/pj_coding/HTML_CSS_Codacademy/patrick_evans_speaking/resources/CSS/Montserrat/static/Montserrat-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Users/patrickevans29/Documents/pj_coding/HTML_CSS_Codacademy/patrick_evans_speaking/resources/CSS/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
.banner {
  background: linear-gradient(to right, #0097B2, #7ED957);
  color: white;
  margin-bottom: 0;
  padding: 5%;
  height: auto;
  display: flex;
  width: auto;
  align-items: stretch;
}  

  .banner h1 {
    font-size: 2.1875rem;
    font-weight: bold;
    text-decoration: wavy;
  }

  .banner h3 {
    font-size: 2.1875rem;
    font-weight: bold;
  }

  .banner_left {
    justify-content: flex-start;
    font-size: 1.25rem;
    color: white;
    font-weight: light;
    width: 33.333%;
    height: auto;
    flex: 1;
  }

  .banner_centre {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 33.333%;
    height: auto;
    flex: 1;
}

  .banner_right {
    justify-content: flex-end;
    text-align: end;
    font-size: 1.25rem;
    color: white;
    font-weight: light;
    width: 33.333%;
    height: auto;
    flex: 1;
  }

  .banner img {
    width: 75%;
    border: 0.1875rem solid black;
    margin: 5%;
    justify-content: center;
  }

  .banner_left ul, 
  .banner_right ul {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
  font-size: 1.8750;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.quote {
  padding: 5%;
  text-align: center;
}

.quote p {
  font-size: 1.875rem;
  font-weight: bold;
}
  
.services {
  padding: 1.25rem;
  margin-top: 0;
  background-color: white;
  color: black;
}

.services h3 {
  font-size: 1.5625rem;
  font-weight: bold;
}
  
.services ul {
  margin: 0;
  list-style-type: disc;
  margin-left: 1.5625rem;
  font-size: 1.25rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 50%;
  padding: 0.625rem;
  box-sizing: border-box;
}

.box {
  background-color: #7ED957;
  padding: 0.625rem;
  margin: 0.625rem;
  align-items: center;
  height: 9.375rem;
  color: black;
  border: 0.25rem solid black;
  box-shadow: 0rem 0.1875rem 0.375rem rgba(0, 0, 0, 0.3);
}

.box h3 {
  padding-bottom: 2%;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
}

.box:hover {
  transform: translateY(-3.125rem);
  transform: scale(1.1);
}

.container2 {
  background: linear-gradient(to right, #0097B2, #7ED957);
  padding: 3.125rem 0;
  color: white;
  margin: 0;
  text-align: center;
}

.container2 h2 {
  font-size: 2.25rem;
  margin-bottom: 1.875rem;
}

.contact-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.whatsapp, .email {
  margin: 0;
  color: #333;
  padding: 1rem;
}
.whatsapp a{
  font-size: 100%;
  text-decoration: none;
}
.email a {
  text-decoration: none;
}

span {
  font-size: 1.75rem;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  * {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }

  .banner {
  background: linear-gradient(to right, #0097B2, #7ED957);
  color: white;
  margin-bottom: 0;
  padding: 5%;
  height: auto;
  display: flex;
  width: auto;
  align-items: stretch;
  }  

  .banner h1 {
    font-size: 2.1875rem;
    font-weight: bold;
    text-decoration: wavy;
  }

  .banner h3 {
    font-size: 2.1875rem;
    font-weight: bold;
  }

  .banner_left {
    display: none;
  }

  .banner_centre {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 33.333%;
    height: auto;
    flex: 1;
  }

  .banner_right {
    display: none;
  }

  .banner img {
    width: 75%;
    border: 0.1875rem solid black;
    margin: 5%;
    justify-content: center;
  }

  .banner_left ul, 
  .banner_right ul {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
  font-size: 1.8750;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  }

  .quote {
  padding: 5%;
  text-align: center;
  }

  .quote p {
  font-size: 100%;
  font-weight: bold;
  }

  .services {
    padding: 0;
  }

  .services h3 {
  font-size: 100%;
  font-weight: bold;
  }

  .services ul {
  margin: 0;
  list-style-type: disc;
  margin-left: 1.5625rem;
  font-size: 100%;
  }

  .container {
  display: inline-block;
  min-height: auto;
  }

  .column {
  flex: 50%;
  padding: 0;
  }

  .box {
  margin: 0;
  margin-bottom: 2%;
  }

  a {
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
  }

  .container2 {
    background: linear-gradient(to right, #0097B2, #7ED957);
    padding: 3.125rem 0;
    color: white;
    margin: 0;
    text-align: center;
  }
  
  .container2 h2 {
    font-size: 2.25rem;
    margin-bottom: 1.875rem;
  }
  
  .contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .whatsapp, .email {
    margin: 0;
    color: #333;
    padding: 0.5rem;
  }
  .whatsapp a{
    text-decoration: none;
  }

  .email a {
    text-decoration: none;
  }
  
  span {
    font-size: 100%;
    font-weight: bold;
  }
}